.fs-italic
{
  font-style: italic;
}

.fs-normal
{
  font-style: normal;
}

.fs-oblique
{
  font-style: oblique;
}

.fw-thin
{
  font-weight: 100;
}

.fw-light
{
  font-weight: 300;
}

.fw-regular
{
  font-weight: 400;
}

.fw-medium
{
  font-weight: 500;
}

.fw-bold
{
  font-weight: 700;
}

.fw-black
{
  font-weight: 900;
}

.underline
{
  text-decoration: underline;
}

.no-decoration
{
  text-decoration: none;
}

.line-through
{
  text-decoration: line-through;
}