.block {
  display: block;
}

.display-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.cell {
  display: table-cell;
}

.row {
  display: table-row;
}